* {
	box-sizing: border-box;
}

html {
	font-size: 15px;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	color: #44545E;
	padding: 50px;
	width: 80%;
	margin: 0 auto;
}

h1 {
	margin-bottom: 30px;
}

input, textarea, button {
	display: block;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

input, textarea {
	border: #44545E 2px solid;
}

div {
	margin: 5px;
}

textarea {
	height: 100px;
}

button {
	background-color: #44545E;
	color: #fff;
	padding: 10px;
}


